{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    {% include('widgets/navbar/index.html.twig') %} 

<h1>Votre Panier</h1>

<div>
                        <h2>Sweat</h2>
                        <!--  <img src= {}> -->
                        <p>Quantité :</p>
                        <p>30EUR</p>
                        <button>Delete</button>
</div>
{% endblock %}
