{% extends 'base.html.twig'%}

{% block title %}
    Produit
{% endblock %}

{% block body %}
    {% include('widgets/navbar/index.html.twig') %}

    <main>
        <div class="container">
            <div>
            <img src="https://aniki-shop.com/wp-content/uploads/2022/09/t-shirt-manga-jojos-bizarre-adventure-robe-t-shirt-coton-bio-sur-jotaro-kujho-daddy-issues-teeshirt-manga-jojo-1.png">
            </div>
            <div>
                <div>
                    <div>
                        <h2>{{product.name}}</h2>
                        <p>{{product.price|format_currency('EUR')}}</p>
                        <a href="{{ path('app_add_product_to_cart', {'id': product.id}) }}">Ajouter au panier</a>
                    </div>
                <div>
            </div>
        </div>
    </main>
{% endblock %}