<nav>
<div class="navbar">
    <ul>
        <li><p><a href="{{ path('home') }}"> Home</a></p></li>
        <li><p><a href="{{ path('app_product_list') }}">Catalogue</a></p></li>
        <li><p><a href="{{ path('app_login') }}">Se Connecter</a></p></li>
    </ul>
    </div>
</nav>