body {
    background-color: #CCE3DE;
    margin: 0;
}

h1 {
    font-size: 5em;
    color: red;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    .navbar {
        display: flex;
        justify-content: center;

        ul {
            display: inline-flex;

        li {
            display: inline;
            list-style: none;
            margin: 6px 8px;
            font-weight: 600;
            text-transform: uppercase;

        .lien {
            text-decoration: none;
            color: #6B9080;
        }

        .lien:hover {
            color: cadetblue;
            text-decoration: underline;
            font-size: large;
        }

        }
    }
    }
}


    
    .card {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        .structure {
            background-color: silver;
            position: relative;

            .img-box {
                height: 440px;

                img {
                    height: 100%;
                }
            }

            .body {
                position: absolute;
                bottom: 0;

                .price {
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
 
    .container {
        display: flex;
       
 }

 #nom-prd {
    color: #081C15;
    display: flex;
    justify-content: center;
    
 }
 

 .image-container {
    padding-left: 200px;
    height: 300px;
  }

.produit-container {
    padding-left: 100px;
}
 
  .qty-container {
        display: flex;
            #quantity {
                border: 1px solid black;
                background-color: white;
                margin: 1px;
                padding: 1px;
            }
  }

.prix-prd {
    font-style: italic;
    font-weight: 600;
    color: #081C15;
}

.add {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: 3px solid #D8F3DC;
    color: #081C15;
    background-color: #D8F3DC;

    .add:hover {
        text-decoration: underline;
            font-size: large;
    }
}