body {
    background-color: #CCE3DE;
    margin: 0;
}

.grp {
    
}

h1 {
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-weight: 700;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
}


//Navbar

nav {
    width: 100%;
    position: relative;

    .navbar {
        display: flex;
        justify-content: center;

        ul {
            display: inline-flex;

        li {
            display: inline;
            list-style: none;
            margin: 6px 8px;
            font-weight: 600;
            text-transform: uppercase;

        .lien {
            text-decoration: none;
            color: #6B9080;
        }

        .lien:hover {
            color: cadetblue;
            text-decoration: underline;
            font-size: large;
        }

        }
    }
    }

    .side-options {
        position: absolute;
        top: 15px;
        right: 55px;

        ul {
            list-style: none;
            color: black;
            display: flex;

            li {
                margin: 0 10px;
            }
        }
    }
}


.home-page {
    text-align: center;

    h2 {
        margin: 70px 0;
    }

    h4 {
        margin-bottom: 30px;
    }

    .paragraphs {
        width: 70%;
        display: block;
        margin: auto;

        p {
            font-size: .80em;
        }
    }
}

//Page catalogue

#ncata {
    display: flex;
    justify-content: center;
}
    
    .card {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        padding: 20px;
        margin: 30px;
        transition: transform .5s;
        background-color: #d8f3dc;
          
            &::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
              content: '';
              opacity: 0;
              z-index: -1;
            }
          
            &:hover,
            &:focus {
              transform: scale3d(1.006, 1.006, 1);
          
              &::after {
                opacity: 1;
              }
            }
          }

        .structure {
            background-color: silver;
            position: relative;

            .img-box {
                height: 440px;

                img {
                    height: 100%;
                }
            }

            .body {
                position: absolute;
                bottom: 0;

                .price {
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    
 
    .container {
        display: flex;
       
 }

 #nom-prd {
    color: #081C15;
    display: flex;
    justify-content: center;
    
 }
 

 .image-container {
    padding-left: 200px;
    height: 300px;
  }

//Produits

.produit-container {
    padding-left: 100px;
}
 
  .qty-container {
        display: flex;
            #quantity {
                border: 1px solid black;
                background-color: white;
                margin: 1px;
                padding: 1px;
            }
  }

// Prix

.prix-prd {
    font-style: italic;
    font-weight: 600;
    color: #081C15;
}

//Bouton d'achat

.add {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10em;
    padding: 4px;
    color: #081C15;
    background-color: #D8F3DC;

    .add:hover {
        text-decoration: underline;
            font-size: large;
    }
}

.admin-page {
    display: flex;


    .sidebar {
        position: relative;
        height: 100vh;
        width: 200px;

        nav {
            background-color: black;
            height: 100%;
            padding: 16px 6px;
            box-sizing: border-box;

            ul {
                list-style: none;
                margin: 0;

                li {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin: 10px 6px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: .85em;
                    }
                }
            }
        }
    }

    .content {
        padding: 24px 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        tr {
            margin-bottom: 10px;

            td,
            th {
                padding: 10px;
                padding-top: 0;
            }
        }

        form {

            input,
            select {
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
            }

            input {
                padding: 8px 18px;
            }
        }
    }
}

.dashboard-home {

    .grid {
        display: grid;
        justify-content: center;

        .flex {
            display: inline-flex;
            justify-content: flex-start;
            flex-flow: wrap;
            width: 900px;

            .container {
                width: 400px;
                border-radius: 12px;
                border: 1px solid silver;
                margin: 0 14px;
                margin-bottom: 28px;

                a {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}