{% extends 'base.html.twig' %}

{% block title %}
    Acceuil
{% endblock %}

{% block body %}

{% include('widgets/navbar/index.html.twig') %}


<h2>Bienvenue chez MMA store<h2>
<h4>Retrouvez du merch à l'effigie de vos personnages d'animés préféré<h4>

<p>Aniki est une marque de vêtements haut de gamme qui s’inspire des mangas et animés du moment pour créer ses collections de vêtements manga. L’ensemble des produits Aniki ont été fait avec la ferme conviction que les fans de mangas méritent des habits à la hauteur de leur passion.
Les otakus ne sont pas à prendre à la légère, et c’est en créant une marque de vêtements haut de gamme que nous exprimons ce souhait d’être pris en considération par le reste du monde. Solidaires et soudés, les lecteurs de mangas, mais aussi les anime only, trouveront sur aniki-shop.com des vêtements manga d’une qualité sans égal.
Des t-shirts mangas, des casquettes ou même des sacoches inspirées des animés les plus tendances du moment, voici ce que propose Aniki. En tant que marque Française, nous nous devons de mettre en avant notre expertise. C’est pourquoi, une grande partie de nos habits et accessoires mangas sont fabriqués dans un atelier Français.
Le but est de proposer des vêtements mangas d’une qualité supérieure tout en étant abordable et pas chère. Notre marque de vêtements manga est certainement la première à faire participer ses fans à la création des produits, que ce soit via des lives ou via différents sondages sur nos réseaux sociaux. Tu l’as compris, Aniki est en quelque sorte un équipage de fan de manga et de passionné de mode !</p>
    
{% endblock %}