{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}

    <form action="">
    <h2>Paiement</h2>
        <div>
            <div><input type="text" name="" id=""></div>
            <div><input type="text"></div>
            <div><input type="text"></div>
            <div><a href=""></a></div>
        </div>
    </form>

    {{dump(controller_name)}}

{% endblock %}
