

<div class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="{{ path('app_admin_user_index') }}">Users</a>
            </li>
            <li>
                <a href="{{ path('app_admin_product_index') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('app_admin_order_index') }}">Orders</a>
            </li>
        </ul>
    </nav>
</div>