{% extends 'base.html.twig' %}

{% block title %}
    Catalogue
{% endblock %}

{% block body %}

{% include('widgets/navbar/index.html.twig') %}

<main>
<h2>Notre Catalogue</h2>

        {% for product in products %}
        <div class="card">
        <a href="{{ path("app_product", { "id": product.id}) }}">
            <div class="structure">
                <div class="img-box">
                    <img src= {{product.urlimg}}>
                </div>
                <div class="body">
                    <div></div>
                    <h6>{{product.name}}</h6>
                    <div class="price">
                        <p>{{product.price|format_currency('EUR')}}</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
</main>
    
{% endblock %}